ifcs/src/main/resources/RemoteMediaStore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jxb:extensionBindingPrefixes="xjc">

<xsd:annotation>
  <xsd:appinfo>
    <jxb:globalBindings>
      <xjc:simple />
    </jxb:globalBindings>
  </xsd:appinfo>
</xsd:annotation>

<xsd:element name="ArtistData" type="ArtistType"/>

<xsd:complexType name="ArtistType">
  <xsd:all>
    <xsd:element name="name" type="xsd:string"/>
  </xsd:all>
</xsd:complexType>

</xsd:schema>
